<div class="flex flex-col w-full h-screen">
  <div
    class="w-full flex poppins-medium items-center text-xl text-gray-700 px-3 py-4"
  >
    Buenos Dias, Rodrigo
  </div>
  <div
    class="w-full flex py-3 px-3 my-3 justify-between items-center border-gray-300"
    style="border-width: 1px"
  >
    <i class="pi pi-bars text-gray-500"></i>
    <div class="flex justify-between gap-5">
      <div class="flex items-center gap-2">
        <i class="pi pi-clock text-gray-500"></i>
        <div class="text-gray-500 text-sm poppins-regular">20:15</div>
      </div>
      <div
        class="flex items-center gap-2 p-1 rounded-lg"
        style="border-width: 1px"
      >
        <i class="pi pi-wifi text-gray-500"></i>
        <div class="text-gray-500 text-xs poppins-regular">Conectado</div>
      </div>
      <div
        class="flex items-center gap-2 p-1 rounded-lg"
        style="border-width: 1px"
      >
        <i class="pi pi-mobile text-gray-500"></i>
        <div class="text-gray-500 text-xs poppins-regular">Bluetooth</div>
      </div>
    </div>
  </div>
  <div class="px-3 flex flex-col w-full">
    <div
      class="flex justify-between bg-gradient-to-r from-blue-400 to-purple-500 w-full p-6 rounded-xl"
    >
      <div class="flex flex-col gap-2">
        <div class="text-white poppins-medium text-xl">20:15</div>
        <div class="text-white poppins-regular text-sm">
          Lunes, 27 de Octubre de 2025
        </div>
      </div>
      <div class="flex flex-col gap-1 items-center">
        <i class="pi pi-sun text-white text-xl"></i>
        <div class="text-white poppins-light text-xs">Soleado</div>
        <div class="text-white poppins-regular text-xs">25° C</div>
      </div>
    </div>
    <div class="grid gap-4 my-4 grid-cols-2">
      <div
        class="h-12 flex justify-between border-gray-300 w-full p-6 rounded-xl"
        style="border-width: 1px"
      ></div>
      <div
        class="h-12 flex justify-between border-gray-300 w-full p-6 rounded-xl"
        style="border-width: 1px"
      ></div>
      <div
        class="h-12 flex justify-between border-gray-300 w-full p-6 rounded-xl"
        style="border-width: 1px"
      ></div>
      <div
        class="h-12 flex justify-between border-gray-300 w-full p-6 rounded-xl"
        style="border-width: 1px"
      ></div>
    </div>
    <div class="poppins-regular text-sm">Controles Rápidos</div>
    <div class="grid gap-4 my-4 grid-cols-2">
      <div
        class="h-12 flex justify-between border-gray-300 w-full p-6 rounded-xl"
        style="border-width: 1px"
      ></div>
      <div
        class="h-12 flex justify-between border-gray-300 w-full p-6 rounded-xl"
        style="border-width: 1px"
      ></div>
      <div
        class="h-12 flex justify-between border-gray-300 w-full p-6 rounded-xl"
        style="border-width: 1px"
      ></div>
      <div
        class="h-12 flex justify-between border-gray-300 w-full p-6 rounded-xl"
        style="border-width: 1px"
      ></div>
    </div>
  </div>
</div>
