<div class="flex flex-col w-full h-screen">

  <div class="w-full flex poppins-medium items-center text-xl text-gray-700 px-3 h-12">
    Buenos Dias, Rodrigo
  </div>
  <div
    class="w-full flex py-3 px-3 justify-between items-center border-gray-300"
    style="border-width: 1px"
  >
    <i class="pi pi-bars text-gray-500"></i>
    <div class="flex justify-between gap-5">
      <div class="flex items-center gap-2">
        <i class="pi pi-clock text-gray-500"></i>
        <div class="text-gray-500 text-sm poppins-regular">16:15</div>
      </div>
      <div class="flex items-center gap-2 p-1 rounded-lg" style="border-width: 1px">
        <i class="pi pi-wifi text-gray-500"></i>
        <div class="text-gray-500 text-xs poppins-regular">Conectado</div>
      </div>
      <div class="flex items-center gap-2 p-1 rounded-lg" style="border-width: 1px">
        <i class="pi pi-mobile text-gray-500"></i>
        <div class="text-gray-500 text-xs poppins-regular">Bluetooth</div>
      </div>
    </div>
  </div>
</div>
